<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/new-style.css" />

    <script defer src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <title>AKTICOM</title>
  </head>

  <body>
    <!--PROLOADER-->

    <div class="wrapper">
      <!--HEADER-->

      <main class="main a-single-blog">
        <div class="a-single-blog__breadcrumbs">
          <div class="container">
            <nav aria-label="breadcrumb" class="breadcrumb breadcrumb--blog">
              <ul class="breadcrumb__list">
                <li><a href="/">Главная</a></li>
                <li>
                  <a href="/blog">/ Блог</a>
                </li>
                <li>
                  <a href="#" aria-current="page" class="active"
                    >/ Название статьи</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="a-blog-single">
          <div class="container">
            <div class="a-blog-single__wrapper">
              <div class="a-blog-single__content">
                <div class="a-blog-single__information">
                  <div class="a-blog-single__info">
                    <div class="a-blog-single__date">
                      <img src="/img/svg/date.svg" alt="" />
                      <span>11.02.25</span>
                    </div>
                    <div class="a-blog-single__views">
                      <img src="/img/svg/views.svg" alt="" />
                      <span>999 999</span>
                    </div>
                    <div class="a-blog-single__time">
                      <img src="/img/svg/time.svg" alt="" />
                      <span>Время прочтения: 7 минут</span>
                    </div>
                  </div>

                  <ul class="a-blog-single__social">
                    <li>
                      <a href="">
                        <img src="/img/svg/social/vk.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/svg/social/tg.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/svg/social/ok.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/svg/social/ws.svg" alt="" />
                      </a>
                    </li>
                    <li>
                      <a href="">
                        <img src="/img/svg/social/link.svg" alt="" />
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="a-blog-single__article a-blog-single-article">
                  <h1 class="a-blog-single-article__title">
                    Как структура и редизайн влияют на позиции и посещаемость
                    сайта
                  </h1>
                  <div class="a-blog-single-article__img">
                    <img src="/img/blog/blog-img-2.png" alt="" />
                  </div>

                  <div class="a-blog-single-article__content">
                    <!--TEXT-FOR-BLOG-SINGLE-->
                  </div>
                </div>

                <div class="a-blog-about-autor">
                  <div class="a-blog-about-autor__img">
                    <img src="/img/blog/blog-autor.png" alt="" />
                  </div>
                  <div class="a-blog-about-autor__info">
                    <p class="a-blog-about-autor__autor">Автор статьи</p>
                    <div class="a-blog-about-autor__name">
                      Иванов Иван Петрович
                    </div>
                    <div class="a-blog-about-autor__position">
                      Разработчик, Веб дизайнер
                    </div>
                  </div>
                  <a href="" class="a-blog-about-autor__link">
                    <svg
                      width="26"
                      height="26"
                      viewBox="0 0 26 26"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M24.52 1.48H25.52V0.48H24.52V1.48ZM24.52 25H23.52V26H24.52V25ZM25 25V26H26V25H25ZM25 1H26V0H25V1ZM1 1V0H0V1H1ZM1 1.48H0V2.48H1V1.48ZM25.3497 2.06454C25.7388 1.6726 25.7365 1.03944 25.3445 0.650334C24.9526 0.261228 24.3194 0.263524 23.9303 0.655462L24.64 1.36L25.3497 2.06454ZM24.52 25V26H25V25V24H24.52V25ZM1 1H0V1.48H1H2V1H1ZM24.64 1.36L23.9303 0.655462L0.615595 24.1399L1.32526 24.8444L2.03493 25.549L25.3497 2.06454L24.64 1.36ZM1 1.48V2.48H24.52V1.48V0.48H1V1.48ZM24.52 1.48H23.52V25H24.52H25.52V1.48H24.52ZM25 25H26V1H25H24V25H25ZM25 1V0H1V1V2H25V1Z"
                        fill="#B8FF20"
                      />
                    </svg>
                  </a>
                </div>

                <div class="a-blog-information-after">
                  <div class="a-blog-tags">
                    <div class="a-blog-tags__title">Теги</div>
                    <ul class="a-blog-tags__list">
                      <li>
                        <a href="/blog?tag=seo">SEO</a>
                      </li>
                      <li>
                        <a href="/blog?tag=develop">Разработка</a>
                      </li>
                      <li>
                        <a href="/blog?tag=ai">Искусственный интеллект</a>
                      </li>
                      <li>
                        <a href="/blog?tag=design">Design</a>
                      </li>
                    </ul>
                  </div>

                  <div class="a-blog-share-social">
                    <div class="a-blog-share-social__title">
                      Поделиться статьей
                    </div>
                    <ul class="a-blog-single__social">
                      <li>
                        <a href="">
                          <img src="/img/svg/social/vk.svg" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img src="/img/svg/social/tg.svg" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img src="/img/svg/social/ok.svg" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img src="/img/svg/social/ws.svg" alt="" />
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <img src="/img/svg/social/link.svg" alt="" />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>


                <div class="a-blog-reaction">
                  <div class="a-blog-reaction__title">
                    Добавьте реакцию
                  </div>
                  <ul class="a-blog-reaction__list">
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/fire.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/smile.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/shock.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/wonder.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/agressive.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                    <li>
                      <button class="a-blog-reaction__button">
                        <img src="/img/svg/reactions/anxious.svg" alt="">
                        <span>999</span>
                      </button>
                    </li>
                  </ul>
                </div>



              </div>

              <aside class="a-blog-single__aside"></aside>
            </div>
          </div>
        </div>

        <!--CONNECT-->

        <!--POPUP-->

        <!--BACK-TO-BOTTOM-->
      </main>

      <script src="/js/blog-single.js"></script>
      <!--FOOTER-->
    </div>
  </body>
</html>
