<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/new-style.css" />
    <link rel="stylesheet" href="css/vendor.css" />
    <link rel="stylesheet" href="css/new-style.css" />
    <link rel="stylesheet" href="css/case-single.css" />

    <script defer src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <title>AKTICOM</title>
  </head>

  <body>
    <!--PROLOADER-->

    <div class="wrapper">
      <!--HEADER-->

      <main class="main case-single-new">
        <div class="case-single-main">
          <div class="container">
            <div class="csb case-single-main__wrapper">
              <div class="case-single-main__left">
                <div class="case-single-main__breadcrumbs">
                  <a href="/">Главная</a> <a href="/cases">/ Кейсы</a>
                  <a href="#">/ Название кейса</a>
                </div>
                <div class="case-single-main__tags">
                  <a href="#">SEO</a>
                  <a href="#">Разработка</a>
                </div>

                <h1 class="case-single-main__title">
                  Название кейса, возможно длинное название в несколько строк
                </h1>
              </div>

              <div class="case-single-main__right">
                <div class="case-single-main__img">
                  <img src="/img/basis.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="case-single-info">
          <div class="container">
            <div class="csb case-single-info__wrappper">
              <div class="case-single-info__left">
                <dl class="case-single-info__site">
                  <dt>Продвигаемый сайт</dt>
                  <dd><a href="">www.sitename.ru</a></dd>
                </dl>
                <dl class="case-single-info__theme">
                  <dt>Тематика</dt>
                  <dd>Название тематики, возможно в несколько строк</dd>
                </dl>
                <dl class="case-single-info__region">
                  <dt>Регион продвижения</dt>
                  <dd>Название региона</dd>
                </dl>

                <dl class="case-single-info__task">
                  <dt>Задача</dt>
                  <dd>
                    Разовая настройка помогает сайту работать быстрее и
                    эффективнее. Текст задачи. Разовая настройка помогает сайту
                    работать быстрее и эффективнее.
                  </dd>
                </dl>

                <ul class="case-single-info__list">
                  <li class="case-single-info__item">
                    <div class="title-h2 case-result-block__title">+100%</div>
                    <p class="text case-result-block__text">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                  <li class="case-single-info__item">
                    <div class="title-h2 case-result-block__title">+100%</div>
                    <p class="text case-result-block__text">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                  <li class="case-single-info__item">
                    <div class="title-h2 case-result-block__title">+100%</div>
                    <p class="text case-result-block__text">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                </ul>
              </div>

              <div class="case-single-info__right">
                <!-- Slider main container -->
                <div class="swiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                    <div class="swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                  </div>

                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-prev">prev</div>
                  <div class="swiper-button-next">next</div>
                </div>
              </div>
            </div>
          </div>
        </div>







        <!--CONNECT-->
        <!--POPUP-->

        <!--BACK-TO-BOTTOM-->
      </main>

      <!--FOOTER-->

      <script src="/js/case-single.js"></script>
    </div>
  </body>
</html>
