<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#111111" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/new-style.css" />
      <link rel="stylesheet" href="css/new-style.css" />
    <link rel="stylesheet" href="css/case-single.css" />
    <link rel="stylesheet" href="css/more-case.css" />


    <script defer src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <title>AKTICOM</title>
  </head>

  <body>
    <!--PRELOADER-->

    <div class="wrapper">
      <!--HEADER-->

      <main class="main case-single-new">
        <div class="case-single-main">
          <div class="container">
            <div class="case-single-main__wrapper">
              <div class="case-single-main__left">
                <div class="case-single-main__breadcrumbs">
                  <a href="/">Главная</a> <a href="/cases">/ Кейсы</a>
                  <a href="#">/ Название кейса</a>
                </div>
                <div class="case-single-main__tags">
                  <a href="#">SEO</a>
                  <a href="#">Разработка</a>
                </div>

                <h1 class="case-single-main__title">
                  Название кейса, возможно длинное название в несколько строк
                </h1>
              </div>

              <div class="case-single-main__right">
                <div class="case-single-main__img">
                  <img src="/img/basis.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="case-single-info">
          <div class="container">
            <div class="csb case-single-info__wrappper">
              <div class="case-single-info__left">
                <div class="case-single-info__information">
                  <dl class="case-single-info__site">
                    <dt>Продвигаемый сайт</dt>
                    <dd><a href="">www.sitename.ru</a></dd>
                  </dl>
                  <dl class="case-single-info__theme">
                    <dt>Тематика</dt>
                    <dd>Название тематики, возможно в несколько строк</dd>
                  </dl>
                  <dl class="case-single-info__region">
                    <dt>Регион продвижения</dt>
                    <dd>Название региона</dd>
                  </dl>

                  <dl class="case-single-info__task">
                    <dt>Задача</dt>
                    <dd>
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее. Текст задачи. Разовая настройка помогает
                      сайту работать быстрее и эффективнее.
                    </dd>
                  </dl>
                </div>

                <ul class="case-single-info__list case-single-info__list--bordered">
                  <li class="case-single-info__item item-case-single-info">
                    <div class="xl-text item-case-single-info__title">
                      +100%
                    </div>
                    <p class="xs-text item-case-single-info__description">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                  <li class="case-single-info__item item-case-single-info">
                    <div class="xl-text item-case-single-info__title">
                      +100%
                    </div>
                    <p class="xs-text item-case-single-info__description">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                  <li class="case-single-info__item item-case-single-info">
                    <div class="xl-text item-case-single-info__title">
                      +100%
                    </div>
                    <p class="xs-text item-case-single-info__description">
                      Разовая настройка помогает сайту работать быстрее и
                      эффективнее.
                    </p>
                  </li>
                </ul>
              </div>

              <div class="case-single-info__right">
                <!-- Slider main container -->
                <div class="swiper csir-swiper">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper csir-swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide csir-swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                    <div class="swiper-slide csir-swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                    <div class="swiper-slide csir-swiper-slide">
                      <img src="/img/cases/graphics.png" alt="" />
                    </div>
                  </div>

                  <!-- If we need navigation buttons -->
                  <div class="swiper-button-prev csir-swiper-button-prev btn">
                    <svg
                      width="7"
                      height="12"
                      viewBox="0 0 7 12"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.882715 5.50399C0.742686 5.63571 0.664063 5.81406 0.664063 5.99999C0.664063 6.18592 0.742686 6.36427 0.882715 6.49599L5.91632 11.2131C5.95696 11.2512 6.00522 11.2814 6.05832 11.302C6.11143 11.3226 6.16835 11.3333 6.22583 11.3333C6.28331 11.3333 6.34023 11.3226 6.39334 11.302C6.44644 11.2814 6.49469 11.2512 6.53534 11.2131C6.61743 11.1362 6.66354 11.0318 6.66354 10.9231C6.66354 10.8692 6.65222 10.8159 6.63022 10.7661C6.60823 10.7163 6.57598 10.6711 6.53534 10.633L1.59148 5.99999L6.53534 1.36697C6.57613 1.32896 6.60851 1.28377 6.6306 1.23399C6.65269 1.18421 6.66406 1.13083 6.66406 1.07692C6.66406 1.02301 6.65269 0.969633 6.6306 0.919855C6.60851 0.870078 6.57613 0.824884 6.53534 0.786872C6.49472 0.748741 6.44647 0.718489 6.39336 0.697849C6.34025 0.677209 6.28332 0.666585 6.22583 0.666585C6.16833 0.666585 6.1114 0.677209 6.05829 0.697849C6.00518 0.718489 5.95694 0.748741 5.91632 0.786872L0.882715 5.50399Z"
                        fill="#5B12B9"
                      />
                    </svg>
                  </div>
                  <div class="swiper-button-next csir-swiper-button-next btn">
                    <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="5" fill="#B8FF20" />
                      <path
                        d="M23.1173 19.504C23.2573 19.6357 23.3359 19.8141 23.3359 20C23.3359 20.1859 23.2573 20.3643 23.1173 20.496L18.0837 25.2131C18.043 25.2512 17.9948 25.2814 17.9417 25.302C17.8886 25.3226 17.8317 25.3333 17.7742 25.3333C17.7167 25.3333 17.6598 25.3226 17.6067 25.302C17.5536 25.2814 17.5053 25.2512 17.4647 25.2131C17.3826 25.1362 17.3365 25.0318 17.3365 24.9231C17.3365 24.8692 17.3478 24.8159 17.3698 24.7661C17.3918 24.7163 17.424 24.6711 17.4647 24.633L22.4085 20L17.4647 15.367C17.4239 15.329 17.3915 15.2838 17.3694 15.234C17.3473 15.1842 17.3359 15.1308 17.3359 15.0769C17.3359 15.023 17.3473 14.9696 17.3694 14.9199C17.3915 14.8701 17.4239 14.8249 17.4647 14.7869C17.5053 14.7487 17.5535 14.7185 17.6066 14.6978C17.6597 14.6772 17.7167 14.6666 17.7742 14.6666C17.8317 14.6666 17.8886 14.6772 17.9417 14.6978C17.9948 14.7185 18.0431 14.7487 18.0837 14.7869L23.1173 19.504Z"
                        fill="#5B12B9"
                      />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="case-single-connect">
          <div class="container">
            <div class="csb case-single-connect__wrappper">
              <div class="case-single-connect__left left-case-single-connect">
                <h2 class="xl-text left-case-single-connect__title">Хотите такой же результат?</h2>
                <p class="text">
                  Оставьте заявку, мы свяжемся с вами в ближайшее время!
                </p>
              </div>
              <div class="case-single-connect__right right-case-single-connect">
                <div class="xl-text right-case-single-connect__title">Как с вами связаться</div>

                <form action="" class="popup-call">
                  <ul class="form-chips__list">
                    <li class="form-chips__item">
                      <input
                        type="radio"
                        class="form-chip-radio"
                        role="chip"
                        name="variant-connect"
                        checked
                      />
                      Телефон
                    </li>

                    <li class="form-chips__item">
                      <input
                        type="radio"
                        class="form-chip-radio"
                        role="chip"
                        name="variant-connect"
                      />
                      E-mail
                    </li>

                    <li class="form-chips__item">
                      <input
                        type="radio"
                        class="form-chip-radio"
                        role="chip"
                        name="variant-connect"
                      />
                      Telegram
                    </li>

                    <li class="form-chips__item">
                      <input
                        type="radio"
                        class="form-chip-radio"
                        role="chip"
                        name="variant-connect"
                      />
                      WhatsApp
                    </li>
                  </ul>

                  <input
                    type="name"
                    class="input input__name popup-call__name"
                    placeholder="Ваше имя"
                  />

                  <input
                    type="phone"
                    class="input input__phone popup-call__phone"
                    placeholder="Номер телефона"
                    maxlength="18"
                    required
                  />

                  <input
                    type="site"
                    class="input input__site popup-call__site"
                    placeholder="Адрес сайта"
                  />

                  <label for="checkbox" class="checkbox-label">
                    <input type="checkbox" class="checkbox" required />
                    Я согласен с политикой обработки персональных данных
                  </label>

                  <button
                    class="popup__btn green-btn btn-100"
                    id="popup-call__submit"
                  >
                    Обсудить проект
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!--SALE-NEW-->

        

        <!--FAQ-->


        <div class="case-single-done">
          <div class="container">
            <div class="case-single-done__wrapper">
              <h2 class="xl-text case-single-done__title">Итоги работ</h2>
              <nav class="nav-tabs case-single-done__nav nav-case-single-done">
                <button
                  class="nav-tabs__btn is-active nav-case-single-done__btn"
                  data-tab-name="tab-1"
                >
                  рост трафика
                </button>
                <button
                  class="nav-tabs__btn nav-case-single-done__btn"
                  data-tab-name="tab-2"
                >
                  рост позиций
                </button>

                <button
                  class="nav-tabs__btn nav-case-single-done__btn"
                  data-tab-name="tab-3"
                >
                  индексация
                </button>

                <button
                  class="nav-tabs__btn nav-case-single-done__btn"
                  data-tab-name="tab-4"
                >
                  другие
                </button>
              </nav>

              <div
                class="body-tabs case-single-done__info info-case-single-done is-active"
                data-tab-name="tab-1"
              >
                <div class="info-case-single-done__left">
                  <img src="/img/cases/graphics2.png" alt="" />
                </div>
                <div class="info-case-single-done__right">
                  <h3 class="xl-text info-case-single-done__title">
                    Рост трафика
                  </h3>
                  <div class="xxs-text info-case-single-done__description">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                  </div>
                  <ul class="case-single-info__list">
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="body-tabs case-single-done__info info-case-single-done"
                data-tab-name="tab-2"
              >
                <div class="info-case-single-done__left">
                  <img src="/img/cases/graphics2.png" alt="" />
                </div>
                <div class="info-case-single-done__right">
                  <h3 class="xl-text info-case-single-done__title">
                    рост позиций
                  </h3>
                  <div class="xxs-text info-case-single-done__description">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                  </div>
                  <ul class="case-single-info__list">
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="body-tabs case-single-done__info info-case-single-done"
                data-tab-name="tab-3"
              >
                <div class="info-case-single-done__left">
                  <img src="" alt="" />
                </div>
                <div class="info-case-single-done__right">
                  <h3 class="xl-text info-case-single-done__title">
                    индексация
                  </h3>
                  <div class="xxs-text info-case-single-done__description">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                  </div>
                  <ul class="case-single-info__list">
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <div
                class="body-tabs case-single-done__info info-case-single-done"
                data-tab-name="tab-4"
              >
                <div class="info-case-single-done__left">
                  <img src="" alt="" />
                </div>
                <div class="info-case-single-done__right">
                  <h3 class="xl-text info-case-single-done__title">другие</h3>
                  <div class="xxs-text info-case-single-done__description">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Sed eu nisi massa. Sed sed ipsum a mauris interdum
                      elementum id nec augue. Proin vitae urna id arcu egestas
                      fringilla non eget nulla. Praesent ut aliquet tortor.
                      Donec lacus ipsum, feugiat in felis et, aliquam
                      sollicitudin enim. Vestibulum blandit fringilla convallis.
                      Nunc sed tortor augue.
                    </p>
                  </div>
                  <ul class="case-single-info__list">
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                    <li class="case-single-info__item item-case-single-info">
                      <div class="xl-text item-case-single-info__title">
                        +100%
                      </div>
                      <p class="xs-text item-case-single-info__description">
                        Разовая настройка помогает сайту работать быстрее и
                        эффективнее.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="case-single-review">
          <div class="container">
            <div class="case-single-review__wrapper">
              <div class="case-single-review__back-image">
                <img src="/img/cases/cs-review.png" alt="" />
              </div>
              <div class="case-single-review__info">
                <h2 class="xl-text case-single-review__title">Отзыв клиента</h2>
                <div class="xxs-text case-single-review__description">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </p>
                </div>
                <div class="card-review__stars">
                  <div class="card-review__star">
                    <svg
                      class="active"
                      width="54"
                      height="51"
                      viewBox="0 0 16 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z"
                      />
                    </svg>
                  </div>
                  <div class="card-review__star">
                    <svg
                      class="active"
                      width="54"
                      height="51"
                      viewBox="0 0 16 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z"
                      />
                    </svg>
                  </div>
                  <div class="card-review__star">
                    <svg
                      class="active"
                      width="54"
                      height="51"
                      viewBox="0 0 16 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z"
                      />
                    </svg>
                  </div>
                  <div class="card-review__star">
                    <svg
                      class="active"
                      width="54"
                      height="51"
                      viewBox="0 0 16 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z"
                      />
                    </svg>
                  </div>
                  <div class="card-review__star">
                    <svg
                      class="active"
                      width="54"
                      height="51"
                      viewBox="0 0 16 15"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.04894 0.92705C7.3483 0.00573924 8.6517 0.00573965 8.95106 0.92705L10.0206 4.21885C10.1545 4.63087 10.5385 4.90983 10.9717 4.90983H14.4329C15.4016 4.90983 15.8044 6.14945 15.0207 6.71885L12.2205 8.75329C11.87 9.00793 11.7234 9.4593 11.8572 9.87132L12.9268 13.1631C13.2261 14.0844 12.1717 14.8506 11.388 14.2812L8.58779 12.2467C8.2373 11.9921 7.7627 11.9921 7.41221 12.2467L4.61204 14.2812C3.82833 14.8506 2.77385 14.0844 3.0732 13.1631L4.14277 9.87132C4.27665 9.4593 4.12999 9.00793 3.7795 8.75329L0.979333 6.71885C0.195619 6.14945 0.598395 4.90983 1.56712 4.90983H5.02832C5.46154 4.90983 5.8455 4.63087 5.97937 4.21885L7.04894 0.92705Z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="case-single-review__achiv">
                <img src="/img/cases/achivement.png" alt="" />
              </div>
            </div>
          </div>
        </div>

        <!--CONNECT-NEW-->


        <!--HOW-WORK-NEW-->

        <!--MORE-CASE-->


        <!--POPUP-->

        <!--BACK-TO-BOTTOM-->
      </main>

      <!--FOOTER-->

      <script src="/js/case-single.js"></script>
      <script src="/js/tabs.js"></script>
      <script src="/js/faq.js"></script>
      <script src="/js/popup.js"></script>


    </div>
  </body>
</html>
