.breadcrumb {
}
.breadcrumb__list {
  display: flex;
  gap: 10px;

  a {
    font-family: "Geologica", sans-serif;
    font-weight: 400;
    font-size: clamp(13px, 1.4vw, 16px);
    line-height: 110%;
    color: var(--main-font);
  }
  a.active {
    color: var(--contrast-color);
  }
}



.breadcrumb--blog {
    margin-bottom: clamp(20px, 2.5vw, 30px)
}