<ul class="a-blog-navigation__list">
  <li>
    <a href="#">Редизайн сайта и его последствия для трафика</a>
    <ul>
      <li><a href="#">Позитивное влияние</a></li>
      <li><a href="#">Возможные риски</a></li>
      <li><a href="#">Когда необходим редизайн: ключевые сигналы</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Роль структуры сайта в SEO</a>
    <ul>
      <li><a href="#">Что такое идеальная структура?</a></li>
      <li><a href="#">Некоторые элементы структуры сайта</a></li>
      <li><a href="#">Влияние на ранжирование</a></li>
      <li><a href="#">Для чего производятся изменения в имеющейся структуре</a></li>
      <li><a href="#">Как оптимизировать структуру</a></li>
      <li><a href="#">Визуализация структуры сайта</a></li>
    </ul>
  </li>
  <li>
    <a href="#">Как избежать негативных последствий обновлений сайта для SEO</a>
    <ul>
      <li><a href="#">Появление новых и удаление старых страниц</a></li>
      <li><a href="#">Изменение урлов</a></li>
      <li><a href="#">Замена движка (CMS) сайта</a></li>
      <li><a href="#">Изменение html кода</a></li>
      <li><a href="#">Корректность работы сайта и основных функций </a></li>
      <li><a href="#">Обновление внешнего вида</a></li>
      <li><a href="#">Переиндексация</a></li>
      <li><a href="#">Скорость загрузки и другие технические параметры</a></li>
      <li><a href="#">Перераспределение внутреннего веса страниц</a></li>
      <li><a href="#">Пример влияния доработки структуры на позиции и трафик</a></li>
    </ul>
  </li>
  <li><a href="#">Выводы</a></li>
</ul>
