       <div class="sp-faq _anim-items _anim-no-hide _anim-fade-in-down">
          <div class="sp-faq__img sp-faq__img--1">
            <img src="/img/seo-page/cost-1.png" alt="" />
          </div>
          <div class="sp-faq__img sp-faq__img--2">
            <img src="/img/seo-page/cost-2.png" alt="" />
          </div>

          <div class="container">
            <h2 class="xl-text sp-faq__title">Вопросы и ответы</h2>
            <div class="sp-faq__wrapper">
              <div class="faq__list">
                <div class="details">
                  <div class="summary">
                    <div>Название вопроса и ответа</div>
                    <svg
                      width="42"
                      height="42"
                      viewBox="0 0 42 42"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        y="19.5518"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        fill="#B8FF20"
                      />
                      <rect
                        x="19.5547"
                        y="42"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        transform="rotate(-90 19.5547 42)"
                        fill="#B8FF20"
                      />
                    </svg>
                  </div>
                  <div class="details-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </div>
                </div>

                <div class="details">
                  <div class="summary">
                    <div>Название вопроса и ответа</div>
                    <svg
                      width="42"
                      height="42"
                      viewBox="0 0 42 42"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        y="19.5518"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        fill="#B8FF20"
                      />
                      <rect
                        x="19.5547"
                        y="42"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        transform="rotate(-90 19.5547 42)"
                        fill="#B8FF20"
                      />
                    </svg>
                  </div>
                  <div class="details-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </div>
                </div>
                <div class="details">
                  <div class="summary">
                    <div>Название вопроса и ответа</div>
                    <svg
                      width="42"
                      height="42"
                      viewBox="0 0 42 42"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        y="19.5518"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        fill="#B8FF20"
                      />
                      <rect
                        x="19.5547"
                        y="42"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        transform="rotate(-90 19.5547 42)"
                        fill="#B8FF20"
                      />
                    </svg>
                  </div>
                  <div class="details-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </div>
                </div>
                <div class="details">
                  <div class="summary">
                    <div>Название вопроса и ответа</div>
                    <svg
                      width="42"
                      height="42"
                      viewBox="0 0 42 42"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        y="19.5518"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        fill="#B8FF20"
                      />
                      <rect
                        x="19.5547"
                        y="42"
                        width="42"
                        height="2.89655"
                        rx="1.44828"
                        transform="rotate(-90 19.5547 42)"
                        fill="#B8FF20"
                      />
                    </svg>
                  </div>
                  <div class="details-content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    eu nisi massa. Sed sed ipsum a mauris interdum elementum id
                    nec augue. Proin vitae urna id arcu egestas fringilla non
                    eget nulla. Praesent ut aliquet tortor. Donec lacus ipsum,
                    feugiat in felis et, aliquam sollicitudin enim. Vestibulum
                    blandit fringilla convallis. Nunc sed tortor augue.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>