<header class="header">
    <div class="container">
        <div class="header__wrapper _anim-items _anim-no-hide _anim-from-top">
            <div class="header__top">
                <a href="/" class="header__logo logo">
                    <img src="/img/Logo.svg" alt="">
                </a>

                <div class="header__info">
                    <div class="header__hours-work">
                        Работаем пн-пт <br> с 9:00 до 18:00 (по МСК)
                    </div>

                    <div class="header__phone-info">
                        <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2627_4375)">
                        <rect y="0.5" width="45" height="45" rx="22.5" fill="white" fill-opacity="0.44"/>
                        <path d="M15.775 21.4875C17.575 25.025 20.475 27.9125 24.0125 29.725L26.7625 26.975C27.1 26.6375 27.6 26.525 28.0375 26.675C29.4375 27.1375 30.95 27.3875 32.5 27.3875C33.1875 27.3875 33.75 27.95 33.75 28.6375V33C33.75 33.6875 33.1875 34.25 32.5 34.25C20.7625 34.25 11.25 24.7375 11.25 13C11.25 12.3125 11.8125 11.75 12.5 11.75H16.875C17.5625 11.75 18.125 12.3125 18.125 13C18.125 14.5625 18.375 16.0625 18.8375 17.4625C18.975 17.9 18.875 18.3875 18.525 18.7375L15.775 21.4875Z" fill="#B8FF20"/>
                        </g>
                        <rect x="0.5" y="1" width="44" height="44" rx="22" stroke="white"/>
                        <defs>
                        <clipPath id="clip0_2627_4375">
                        <rect y="0.5" width="45" height="45" rx="22.5" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>

                        <div class="header__phone_blocks">
                            <a href="tel:+78003014501" class="header__phone text">8 (800) 301 45 01</a>
                            <p class="header__text text-s">бесплатный звонок по РФ </p>
                        </div>
                        
                    </div>

                    <div class="header__telegram">
                        <a href="">
                            <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_2627_4382)">
                            <rect y="0.5" width="45" height="45" rx="22.5" fill="white" fill-opacity="0.44"/>
                            <g clip-path="url(#clip1_2627_4382)">
                            <path d="M17.575 26.4358L17.147 32.4665C17.7594 32.4665 18.0246 32.203 18.3427 31.8865L21.2138 29.1379L27.163 33.5022C28.2541 34.1113 29.0228 33.7906 29.3172 32.4967L33.2222 14.1671L33.2233 14.166C33.5694 12.5503 32.64 11.9185 31.577 12.3149L8.62313 21.1179C7.05657 21.727 7.08029 22.6018 8.35682 22.9982L14.2252 24.8266L27.8563 16.2828C28.4978 15.8573 29.081 16.0927 28.6013 16.5182L17.575 26.4358Z" fill="#B8FF20"/>
                            </g>
                            </g>
                            <rect x="0.5" y="1" width="44" height="44" rx="22" stroke="white"/>
                            <defs>
                            <clipPath id="clip0_2627_4382">
                            <rect y="0.5" width="45" height="45" rx="22.5" fill="white"/>
                            </clipPath>
                            <clipPath id="clip1_2627_4382">
                            <rect width="25.875" height="21.6" fill="white" transform="translate(7.42188 12.2)"/>
                            </clipPath>
                            </defs>
                            </svg>

                        </a>
                    </div>

                    <div class="header__email-info">
                        <svg width="45" height="46" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2627_4388)">
                        <rect y="0.5" width="45" height="45" rx="22.5" fill="white" fill-opacity="0.44"/>
                        <g clip-path="url(#clip1_2627_4388)">
                        <path d="M29.4211 25.1915L29.4106 25.279C26.8451 24.0004 26.5768 23.83 26.2454 24.327C26.0156 24.6712 25.3459 25.4517 25.1441 25.6827C24.9399 25.9102 24.7369 25.9277 24.3904 25.7702C24.0404 25.5952 22.9169 25.2277 21.5869 24.0377C20.5509 23.1102 19.8556 21.9727 19.6503 21.6227C19.3084 21.0324 20.0236 20.9484 20.6746 19.7164C20.7913 19.4714 20.7318 19.2789 20.6454 19.105C20.5579 18.93 19.8614 17.215 19.5698 16.5314C19.2898 15.85 19.0016 15.9364 18.7858 15.9364C18.1138 15.878 17.6226 15.8874 17.1898 16.3377C15.3068 18.4074 15.7816 20.5424 17.3928 22.8127C20.5591 26.9567 22.2461 27.7197 25.3308 28.779C26.1638 29.0439 26.9233 29.0065 27.5241 28.9202C28.1938 28.814 29.5856 28.079 29.8761 27.2565C30.1736 26.434 30.1736 25.7515 30.0861 25.594C29.9998 25.4365 29.7711 25.349 29.4211 25.1915Z" fill="#B8FF20"/>
                        <path d="M32.94 12.5238C23.9695 3.85202 9.12367 10.1415 9.11783 22.3752C9.11783 24.8205 9.75833 27.2052 10.9787 29.311L9 36.5L16.3908 34.5727C25.6133 39.5543 36.9953 32.9393 37 22.3822C37 18.6768 35.5533 15.1897 32.9225 12.5693L32.94 12.5238ZM34.669 22.3437C34.662 31.2488 24.8865 36.8104 17.155 32.265L16.735 32.0154L12.36 33.1528L13.5325 28.9003L13.2537 28.4628C8.44233 20.8037 13.97 10.7937 23.084 10.7937C24.606 10.7899 26.1136 11.0879 27.5196 11.6707C28.9257 12.2534 30.2021 13.1093 31.2752 14.1887C32.354 15.2545 33.2098 16.5246 33.7925 17.9248C34.3752 19.3249 34.6732 20.8271 34.669 22.3437Z" fill="#B8FF20"/>
                        </g>
                        </g>
                        <rect x="0.5" y="1" width="44" height="44" rx="22" stroke="white"/>
                        <defs>
                        <clipPath id="clip0_2627_4388">
                        <rect y="0.5" width="45" height="45" rx="22.5" fill="white"/>
                        </clipPath>
                        <clipPath id="clip1_2627_4388">
                        <rect width="28" height="28" fill="white" transform="translate(9 8.5)"/>
                        </clipPath>
                        </defs>
                        </svg>

                        <div class="header__email_blocks">
                            <p class="header__text text-s">E-mail</p>
                            <a href="mailto:mail@akticom.ru" class="header__phone text">mail@akticom.ru</a>
                        </div>
                        
                    </div>

                    <button class="btn green-btn s-text header__btn">
                        Заказать звонок
                    </button>

                </div>

                <div class="burger">
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <div class="header__burger-text">
                        Меню
                    </div>
                </div>

                

            </div>

            <div class="header__bottom">
                <nav class="header__menu-list menu-block">
                    <ul class="menu-block__list">
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Продвижение сайта
                            </a>
                            <ul class="sub-menu-block__list">
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        SEO-продвижение
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Разовая оптимизация
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Продвижение молодых сайтов
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Вывод сайта из-под фильтров
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Продвижение сайта по регионам
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Продвижение за рубежом
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Ссылочное продвижение
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Копирайтинг
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        SERM
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        ASO
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Разработка сайта
                            </a>
                            <ul class="sub-menu-block__list">
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Интернет-магазины
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Корпоративные сайты
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Промо-сайты
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Мобильные приложения
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Лендинги
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        B2B-порталы
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Геймификация бизнеса
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Техподдержка
                            </a>
                            <ul class="sub-menu-block__list">
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Программирование и доработка сайта
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Техподдержка мобильных приложений
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Интеграция сервисов
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Перенос сайта на Битрикс
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Лицензия 1С Битрикс
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Контентная поддержка
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Услуги
                            </a>
                            <ul class="sub-menu-block__list">
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Аналитика
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Дизайн
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Реклама
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Кейсы
                            </a>
                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                О компании
                            </a>
                            <ul class="sub-menu-block__list">
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Блог
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Вакансии
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sub-menu-block__link xs-text link">
                                        Отзывы
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="menu-block__link s-text link">
                                Контакты
                            </a>
                        </li>

                    </ul>
                </nav>


                
            </div>























        </div>
    </div>
  </header>

  <script src="js/menu.js"></script>

  <script src="js/scrolling.js"></script>

  