<div class="phw sp-how-work _anim-items _anim-no-hide _anim-fade-in-down">
  <div class="container">
    <div class="phw__wrapper sp-how-work__wrapper">
      <div class="phw__top sp-how-work__top">
        <div class="phw__img">
          <img class="sub" src="/img/tablet.png" alt="" />
        </div>

        <div class="phw__header">
          <div class="phw__view">Комплексный подход к решению задачи</div>
          <h2 class="phw__title title-h2">КАК МЫ РАБОТАЕМ</h2>
          <p class="phw__text">
            Лучшая мотивация — когда наша работа приносит вам максимальную
            прибыль.
          </p>
        </div>
      </div>

      <ul class="sp-how-work__cards">
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="45"
              height="60"
              viewBox="0 0 45 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 1C18.5593 1 22.0506 3.91175 24.7119 9.23438C27.3433 14.4972 29 21.8374 29 30C29 38.1626 27.3433 45.5028 24.7119 50.7656C22.0506 56.0883 18.5593 59 15 59C11.4407 59 7.9494 56.0883 5.28809 50.7656C2.65673 45.5028 1 38.1626 1 30C1 21.8374 2.65673 14.4972 5.28809 9.23438C7.9494 3.91175 11.4407 1 15 1Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <path
                d="M30 1C33.5593 1 37.0506 3.91175 39.7119 9.23438C42.3433 14.4972 44 21.8374 44 30C44 38.1626 42.3433 45.5028 39.7119 50.7656C37.0506 56.0883 33.5593 59 30 59C26.4407 59 22.9494 56.0883 20.2881 50.7656C17.6567 45.5028 16 38.1626 16 30C16 21.8374 17.6567 14.4972 20.2881 9.23438C22.9494 3.91175 26.4407 1 30 1Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">
              Используем только белые методы продвижения
            </div>
            <p class="sp-how-work__text">
              Применяем безопасные и долгосрочные стратегии для роста бизнеса.
            </p>
          </div>
        </li>
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="51"
              height="35"
              viewBox="0 0 51 35"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="1"
                y="1.00009"
                width="32.4482"
                height="32.4482"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <rect
                x="18.2345"
                y="17.0883"
                width="22.1664"
                height="22.1664"
                transform="rotate(-45 18.2345 17.0883)"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">
              Предлагаем решения на основе своего опыта и аналитики
            </div>
            <p class="sp-how-work__text">
              Анализируем рынок, конкурентов и данные, чтобы подобрать
              оптимальные стратегии.
            </p>
          </div>
        </li>
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 34C22.8337 34 29 39.6929 29 46.5C29 53.3071 22.8337 59 15 59C7.1663 59 1 53.3071 1 46.5C1 39.6929 7.1663 34 15 34Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <path
                d="M45 1C48.5593 1 52.0506 3.91175 54.7119 9.23438C57.3433 14.4972 59 21.8374 59 30C59 38.1626 57.3433 45.5028 54.7119 50.7656C52.0506 56.0883 48.5593 59 45 59C41.4407 59 37.9494 56.0883 35.2881 50.7656C32.6567 45.5028 31 38.1626 31 30C31 21.8374 32.6567 14.4972 35.2881 9.23438C37.9494 3.91175 41.4407 1 45 1Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">
              Одинаково работаем как с маленькими сайтами, так и с гигантами
              e-commerce
            </div>
            <p class="sp-how-work__text">
              Подстраиваем подход под ваш бизнес — будь то стартап или крупный
              интернет-магазин.
            </p>
          </div>
        </li>
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="60"
              height="44"
              viewBox="0 0 60 44"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M30 1C38.1764 1 45.5303 2.4936 50.8027 4.86621C56.1691 7.28106 59 10.4107 59 13.5C59 16.5893 56.1691 19.7189 50.8027 22.1338C45.5303 24.5064 38.1764 26 30 26C21.8236 26 14.4697 24.5064 9.19727 22.1338C3.83093 19.7189 1 16.5893 1 13.5C1 10.4107 3.83093 7.28106 9.19727 4.86621C14.4697 2.4936 21.8236 1 30 1Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <path
                d="M30 18C38.1764 18 45.5303 19.4936 50.8027 21.8662C56.1691 24.2811 59 27.4107 59 30.5C59 33.5893 56.1691 36.7189 50.8027 39.1338C45.5303 41.5064 38.1764 43 30 43C21.8236 43 14.4697 41.5064 9.19727 39.1338C3.83093 36.7189 1 33.5893 1 30.5C1 27.4107 3.83093 24.2811 9.19727 21.8662C14.4697 19.4936 21.8236 18 30 18Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">Следуем плану продвижения</div>
            <p class="sp-how-work__text">
              Разрабатываем четкую стратегию и придерживаемся ее для достижения
              результата.
            </p>
          </div>
        </li>
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="51"
              height="50"
              viewBox="0 0 51 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="1"
                y="36"
                width="13"
                height="13"
                rx="1"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <rect
                x="19"
                y="16"
                width="13"
                height="33"
                rx="1"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <rect
                x="37"
                y="1"
                width="13"
                height="48"
                rx="1"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">Прозрачная отчетность</div>
            <p class="sp-how-work__text">
              Ежемесячно предоставляем отчеты о проделанной работе.
            </p>
          </div>
        </li>
        <li class="sp-how-work__card card-sp-how-work">
          <div class="sp-how-work__svg">
            <svg
              width="48"
              height="45"
              viewBox="0 0 48 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 18C21.9892 18 28 23.8531 28 31C28 38.1469 21.9892 44 14.5 44C7.01079 44 1 38.1469 1 31C1 23.8531 7.01079 18 14.5 18Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <path
                d="M33.5 18C40.9892 18 47 23.8531 47 31C47 38.1469 40.9892 44 33.5 44C26.0108 44 20 38.1469 20 31C20 23.8531 26.0108 18 33.5 18Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
              <path
                d="M23.5 1C30.9892 1 37 6.85308 37 14C37 21.1469 30.9892 27 23.5 27C16.0108 27 10 21.1469 10 14C10 6.85308 16.0108 1 23.5 1Z"
                stroke="#B8FF20"
                stroke-width="2"
              />
            </svg>
          </div>
          <div class="sp-how-work__info">
            <div class="text sp-how-work__title">Комплексный подход</div>
            <p class="sp-how-work__text">
              SEO, контент, техническая оптимизация в одном месте.
            </p>
          </div>
        </li>
      </ul>

      <button
        class="btn green-btn s-text header__btn popup-call-btn center-btn sp-how-work__btn"
      >
        Оставить заявку
      </button>
    </div>
  </div>
</div>
