
<div class="price-all">
    <div class="container">
      <div class="price-all__wrapper">
        <h2 class="price-all__title title-h2 _anim-items _anim-no-hide _anim-fade-in-left">
          Стоимость услуг техподдержки
        </h2>
        <nav class="price-all__nav nav-price-all _anim-items _anim-no-hide _anim-fade-in-right">
          <button class="nav-price-all__item is-active" data-tab-name="price-all-tab-1">
            Программирование и доработка сайта
          </button>
          <button class="nav-price-all__item" data-tab-name="price-all-tab-2">
            Техподдержка мобильных приложений
          </button>
          <button class="nav-price-all__item" data-tab-name="price-all-tab-3">
            интеграция сервисов
          </button>
          <button class="nav-price-all__item" data-tab-name="price-all-tab-4">
            Перенос сайта на Битрикс
          </button>
          <button class="nav-price-all__item" data-tab-name="price-all-tab-5">
            Лицензия 1С Битрикс
          </button>
          <button class="nav-price-all__item" data-tab-name="price-all-tab-6">
            Контентная поддержка
          </button>
        </nav>
        <div class="price-all__body body-price-all tech-price is-active" data-tab-name="price-all-tab-1">
          <h3 class="xl-text body-price-all__title">
            Программирование и доработка сайта
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Минимум
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  2000 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  до 20 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down">
              <p class="tp-card__type">
                Базовый
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1800 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  20-40 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down">
              <p class="tp-card__type">
                Максимум
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1500 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  от 100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
        <div class="price-all__body body-price-all tech-price" data-tab-name="price-all-tab-2">
          <h3 class="xl-text body-price-all__title">
            Техподдержка мобильных приложений
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Минимум
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  2000 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  до 20 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down">
              <p class="tp-card__type">
                Базовый
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1800 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  20-40 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down">
              <p class="tp-card__type">
                Максимум
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1500 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  от 100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
        <div class="price-all__body body-price-all tech-price" data-tab-name="price-all-tab-3">
          <h3 class="xl-text body-price-all__title">
            интеграция сервисов
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
        <div class="price-all__body body-price-all tech-price" data-tab-name="price-all-tab-4">
          <h3 class="xl-text body-price-all__title">
            Перенос сайта на Битрикс
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
        <div class="price-all__body body-price-all tech-price" data-tab-name="price-all-tab-5">
          <h3 class="xl-text body-price-all__title">
            Лицензия 1С Битрикс
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
        <div class="price-all__body body-price-all tech-price" data-tab-name="price-all-tab-6">
          <h3 class="xl-text body-price-all__title">
            Контентная поддержка
          </h3>
          <div class="tech-price__cards">
            <div class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top">
              <p class="tp-card__type">
                Стандарт
              </p>
              <div class="tp-card__center">
                <h3 class="tp-card__price">
                  1700 руб./ час
                </h3>
                <h4 class="tp-card__time green-text">
                  40-100 часов
                </h4>
              </div>
              <p class="tp-card__date">
                в месяц
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  