<section class="tech-price">
  <div class="container">
    <div class="tech-price__wrapper">
      <div
        class="tech-price__header _anim-items _anim-no-hide _anim-fade-in-left"
      >
        <h2 class="tech-price__title title-h2">Стоимость услуг техподдержки</h2>
      </div>
      <div class="tech-price__cards">
        <div
          class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top"
        >
          <p class="tp-card__type">Минимум</p>
          <div class="tp-card__center">
            <h3 class="tp-card__price">2000 руб./ час</h3>
            <h4 class="tp-card__time green-text">до 20 часов</h4>
          </div>
          <p class="tp-card__date">в месяц</p>
        </div>

        <div
          class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down"
        >
          <p class="tp-card__type">Базовый</p>
          <div class="tp-card__center">
            <h3 class="tp-card__price">1800 руб./ час</h3>
            <h4 class="tp-card__time green-text">20-40 часов</h4>
          </div>

          <p class="tp-card__date">в месяц</p>
        </div>

        <div
          class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-top"
        >
          <p class="tp-card__type">Стандарт</p>
          <div class="tp-card__center">
            <h3 class="tp-card__price">1700 руб./ час</h3>
            <h4 class="tp-card__time green-text">40-100 часов</h4>
          </div>

          <p class="tp-card__date">в месяц</p>
        </div>

        <div
          class="tech-price__card tp-card _anim-items _anim-no-hide _anim-fade-in-down"
        >
          <p class="tp-card__type">Максимум</p>
          <div class="tp-card__center">
            <h3 class="tp-card__price">1500 руб./ час</h3>
            <h4 class="tp-card__time green-text">от 100 часов</h4>
          </div>

          <p class="tp-card__date">в месяц</p>
        </div>
      </div>
    </div>
  </div>
</section>
