 <!-- отличается только размером заголовка -->
 
 <div class="sp-sale _anim-items _anim-no-hide _anim-fade-in-top">
          <div class="container">
            <h2 class="l-text sp-sale__title">Акции и скидки</h2>
            <div class="sp-sale__wrapper">
              <ul class="sp-sale__list">
                <li class="sp-sale__item item-sp-sale">
                  <div class="item-sp-sale__title">Бесплатный</div>
                  <p class="item-sp-sale__text">
                    Аудит сайта перед заключением договора.
                  </p>
                </li>

                <li class="sp-sale__item item-sp-sale">
                  <div class="item-sp-sale__title">-15%</div>
                  <p class="item-sp-sale__text">
                    Скидка на первый месяц для новых клиентов
                  </p>
                </li>

                <li class="sp-sale__item item-sp-sale">
                  <div class="item-sp-sale__title">Бесплатное</div>
                  <p class="item-sp-sale__text">
                    подключение систем аналитики при заказе комплексного
                    продвижения.
                  </p>
                </li>

                <li class="sp-sale__item item-sp-sale">
                  <div class="item-sp-sale__title">и другие</div>
                  <p class="item-sp-sale__text">
                    Акции и предложения вы сможете увидеть при оформлении заявки
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>